{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 5%"]
      }
    }]
  ],
  "plugins": [
    "babel-plugin-transform-es2015-spread",
    "transform-es2015-spread",
    "transform-object-rest-spread"
  ]
}